body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6; /* Light gray background */
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-field {
    width: calc(100% - 40px); /* Adjust width for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.input-field:focus {
    outline: none;
    border-color: #007bff; /* Blue border on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Shadow on focus */
}

.login-button {
    width: calc(100% - 40px); /* Adjust width for padding */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue background */
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}